##
# NOTICE
#
# Copyright 2016 David C Vernet and Matthew J Perron. All rights reserved.
#
# Unless otherwise noted, all of the material in this file is Copyright 2016
# by David C Vernet and Matthew J Perron. All rights reserved. No part of this file
# may be reproduced, published, distributed, displayed, performed, copied,
# stored, modified, transmitted or otherwise used or viewed by anyone other
# than the authors (David C Vernet and Matthew J Perron),
# for either public or private use.
#
# No part of this file may be modified, changed, exploited, or in any way
# used for derivative works or offered for sale without the express
# written permission of the authors.
#

*.coz
build-64/
build/
*.class
*.project
*.swp
questions
*.txt
.classpath
.project
.cproject
.settings
jcoz-client/target
jcoz-client/.settings
*.job.*
*.log
